:root {
  --heading-font: Arial, sans-serif;
  --paragraph-font: Figtree, sans-serif;
}

.hero img {
  border: 1px solid #000;
  padding: 5px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 50px gray;
  width: 80%;
}

/*...NAVIGATION... */
    
#menu.open {
  display: block;
  font-size: 1.5rem;
  position: absolute;
  top: 200px;
  right: 20px;
  color: #fff;
  text-decoration: none;
}

#menu::before {
  content: "☰"; 
}

#menu.open::before {
  content: "❌";
}

.navigation {
  list-style-type: none;
  padding: 30px;
  background-color: #000;
  border: #fff 1px solid;
  margin: 0 auto;
}

.navigation.active {
  width: 350px;
}

.navigation li {
  display: none;
}

.navigation.open li{
  display: block;
}

.navigation.open {
  align-items: center;
  justify-content: center;
  margin: auto;
  flex: 1;
}

a#menu {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.navigation a {
  display: block;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}

.navigation a:hover {
  background-color: #3b5b26;
  border: #fff solid 2px;
  border-radius: 10px;
  max-width: 400px;
  padding: .8rem;
}

/*...BODY... */

body {
  font-family: var(--paragraph-font);
}

div {
  padding: 5px;
}

/*...HEADERS... */


h1 {
  margin: .5rem;
  background-color: #5a8b39;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  font-size: 1.5em;
  padding: .25rem;
}

h1#team {
    background-color: gray;
}

h2,h3 {
  padding: .625rem;
}

/*...INDEX... */
.icons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 50px;
}

/*...Flipping Icons... */
.flip-icon {
  width: 300px;
  height: 150px;
  perspective: 1000px; 
}

.flip-icon-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-icon:hover .flip-icon-inner {
  transform: rotateY(180deg);
}

.flip-icon-front, .flip-icon-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  border: 1px solid gray;
}

.flip-icon-front {
  background-color: #fff;
  color: black;
}

.flip-icon-back {
  background-color: #5a8b39;
  color: white;
  transform: rotateY(180deg);
}

.flip-icon-back h2{
  padding: 3rem;
}

.flip-icon-back a{
  text-decoration: none;
  color: #fff;
}

.icons figcaption {
  text-align: center;
}

#teams {
  padding-top: 20px;
}

#teams-caption {
  padding-top: 20px;
}

/*...TEAMS... */
/*----------- */

/*...Spinner... */
body{
  margin: 0;
}

#spinner {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.team-container {
  padding: 0;
}

#cards {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  justify-content: space-evenly;
  border-color: #fff; 
  margin: 10px;
  padding: 30px;
}

.team {   
  border-left: solid 2px #000;
  border-top: solid 2px #000;
  color: #000;
  font-weight: 700;
  margin: 0 auto;
  box-shadow: #999 10px 5px;
  padding: 40px 10px 10px 10px;
  width: 200px;
  text-align: center;
}

.team img {
  margin: 0 auto;
}


/* ...SIGN UP PAGE...*/
/* ---------------- */

.signup fieldset {
  margin: 1rem 0;
  padding: .5rem .5rem 1rem .5rem;
}

.signup legend {
  background-color: #fff;
  color: #3b5b26;
  padding: 0 .5rem;
}
  
.signup label {
  display: block;
  padding-top: 1rem;
  font-size: .9rem;
}
  
.signup input[type="text"],
.signup select ,
#fgm.teamChooser
{
  display: block;
  border-radius: 6px;
  padding: .75rem;
  max-width: 25rem;
  border-left: solid 2px #000;
  border-top: solid 2px #000;
  color: #000;
  box-shadow: #999 10px 5px;
  width: 100%;
}
  
.signup input[type="radio"]
{
  margin: 6px;  
}

.signup input[type="submit"] {
  padding: .75rem;
  background-color: #5a8b39;
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
  border: solid 1px #fff;
  border-radius: 6px;
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 50px gray;
  transition: width 2s height 2s;
}
  
.signup input[type="submit"]:hover {
  background-color: #000;
  color: #fff;
  font-weight: 700;
  width: 250px;
  height: 100px;
}

.signup input:required, select:required {
  border-left: solid 8px red;
}

.signup input:required:valid, select:required:valid {
  border-left: solid 8px green;
}

.signup p{
  text-align: center;
}

form {
  margin-bottom: 10px;
}

/* Roster List Display */
/* ------------------- */

.player {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightgray;
    border: solid 1px #bbb;
    margin: 0 auto;
    width: 80%;
    align-items: center;
}

.player section p 
{
    flex: 1;
    font-family: var(--paragraph-font);
	  font-size: 1rem;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    background: none;
    color: #000;
    font-weight: 700;
}

.player:nth-child(even) {
	background-color: #fff;
}

/* ...SEARCH PAGE...*/
/* ---------------- */

.form#search {
  display: flex;
  align-items: center;
  margin: 0 auto;

}

.search fieldset {
  border: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem .5rem 1rem .5rem;
}
  
.search legend {
  background-color: #fff;
  color: #3b5b26;
  padding: 0 .5rem;
}

.search label {
  display: block;
  font-size: 1rem;
  color: #000;
}

.search input[type="text"]
{
  display: block;
  border-radius: 6px;
  padding: .75rem;
  border-left: solid 2px #000;
  border-top: solid 2px #000;
  box-sizing: border-box;
  color: #000;
  box-shadow: #999 10px 5px;
  font-size: 1.25em;
  font-weight: 700;
  width: 20rem;
}
  
.baseball {
  display: flex;
  justify-content: center;
  background-color: #5a8b39;
  color: #fff;
  margin: 0 auto;
  padding: 6px;
  border: solid 2px #fff;
  border-radius: 10px;
  box-shadow: 0 0 50px gray; 
}

.baseball:hover {
  background-color: #000;
  color: #fff;
  font-weight: 700;
}

.baseball p {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 700;
  font-size: 1.25em
}

.search input[type="image"]:hover {
  transform: rotate(.25turn);
}

.results#cards section {
  border: solid 2px #000 
}

/*...FOOTER... */
footer{
  font-size: .8em;
  background-color: #000;
  color: #fff;
  padding: .5rem;
  text-align: center;
}